body {
  font-size: 17px;
  font-weight: 300; }

.navbar {
  border-bottom: 1px solid #f5f5f5; }

.navbar-link::after {
  border-color: #222;
  margin-top: -0.375em;
  right: 1.125em; }

.navbar-item svg {
  margin-right: 5px; }

.logo {
  font-weight: 900;
  text-transform: uppercase;
  margin-left: -10px; }

.hero .title {
  font-weight: 300; }

.hero svg {
  color: #ececec;
  display: inline; }

.hero .subtitle {
  font-weight: 300; }
  .hero .subtitle span {
    font-style: italic;
    color: #cb4434; }

.body-text-link {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222; }
  .body-text-link:hover {
    color: #cb4434; }
  .body-text-link:after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 0.5rem;
    text-decoration: none; }

.card p {
  font-weight: 300; }

.partners {
  background-color: #f5f5f5; }
