@import './animations.scss';
@import './vars.scss';
@import './read.scss';
@import './contact.scss';
@import './theatre.scss';
@import './careers.scss';
@import './about.scss';
// google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');

// base styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #222;
}

// spacing classes
.spaced {
  margin: 0 0 20px 0;
}

.img-spaced {
  margin-top: 3rem;
}

.columns-spaced {
  margin-top: 3rem;
}

.mt {
  margin-top: 6rem;
}

.mt-s {
  margin-top: 4rem;
}

.mb {
  margin-bottom: 1.5rem;
}

// link and text styles
a {
  color: #222;
  &:hover {
    color: $eb-blue !important;
    background-color: transparent;
  }
}

.text-link {
  color: $eb-blue;
  font-weight: 400;
}

.body-text-link {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  &:hover {
    color: #289ac9;
  }
  &:after {
    content: '>';
    margin-left: 0.5rem;
    text-decoration: none;
  }
}

.section-heading {
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.01em;
}

// button styles
.is-cta {
  background-color: $eb-blue;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  border: 0;
  margin-bottom: 5rem;
  &:hover {
    background-color: darken($eb-blue, 10%);
    color: white !important;
  }
}

// image styles
figure {
  filter: grayscale(0.2);
}

img {
  display: block;
  background-color: #dbdbdb;
}

.section-img {
  box-shadow: 0 15px 12px 0 rgba(161, 170, 180, 0.05),
    0 19px 38px 0 rgba(161, 170, 180, 0.35);
}

// nav styles
.navbar {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
}

.navbar-item {
  color: #222;
  font-size: 1rem;
  text-transform: capitalize;
}

.navbar-dropdown a:hover {
  svg {
    fill: $eb-blue;
  }
}

.dropdown-item:hover,
.navbar-item:hover {
  background-color: #fff !important;
}

.navbar-link::after {
  border-color: #222;
  margin-top: -0.375em;
  right: 1.125em;
}

.navbar-item svg {
  margin-right: 4px;
}

.logo {
  font-size: 1.3rem;
  font-weight: 300;
  span {
    font-weight: 700;
  }
}

.navbar-burger span {
  height: 2px;
  width: 18px;
}

// hero styles
.hero {
  height: 420px;
  background: url(../assets/hero2.jpg) no-repeat center center;
  background-size: cover;
  background-color: #dbdbdb;
  margin-top: 52px;
  position: relative;
  overflow: hidden;
  -webkit-filter: grayscale(0.3);
  .hero-body {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: left;
  }
  svg {
    color: #ececec;
    display: inline;
  }
  .subtitle {
    font-weight: 300;
    span {
      font-style: italic;
      // color: #cb4434;
    }
  }
}

// program section styles
.program {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.showcase {
  margin-top: 3rem;
}

.quote {
  font-weight: 300;
  font-style: italic;
}

.signature {
  margin-top: 1rem;
}

.card {
  transition: all 0.2s ease;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    margin-top: -7px;
  }
}

.card {
  .card-image {
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  }
  .title {
    text-transform: capitalize;
  }
  p {
    font-weight: 300;
  }
}

//footer styles
.footer {
  color: white;
  background-color: #2b2b2b;
  p,
  li {
    color: #a3a3a3;
  }
  svg {
    font-size: 2rem;
    margin: 1rem 0.5rem;
  }
  .footer-link {
    color: #a3a3a3;
  }
  .qcode {
    width: 90px;
    display: block;
    margin: 0.4rem auto 0 auto;
  }
}

// selection color
::selection {
  background: $eb-blue;
}
::-moz-selection {
  background: $eb-blue;
}

// media queries
@media only screen and (max-width: 1100px) {
  .container {
    padding: 0 1rem;
  }
  .program {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .mt {
    margin-top: 4rem;
  }
  .columns-spaced {
    margin-top: 1rem;
  }
  .title,
  .subtitle {
    text-align: left;
    margin-bottom: 6rem;
  }
  .hero,
  .hero-body {
    height: 300px;
  }
  .hero {
    background: url(../assets/hero2-sm.jpg) no-repeat center center;
    background-size: cover;
  }
  .card {
    &:hover {
      margin-top: 0;
      -webkit-filter: brightness(0.95);
      filter: brightness(0.95);
    }
  }
  .footer {
    text-align: center;
  }
}
